body {
	padding: 20px ; 
	background-color: #DEE5CB;
}

a {
	font-family: Bebas Neue,fantasy;
	color: #3D5958;
	font-size: 24px;
	background-color: #DEE5CB;
}
h1 {
	font-family: impact, fantasy;
	color: #EB5433;
	font-size: 48px;
}
h2 
{
	font-family: Bebas Neue,fantasy;
	color: #EE7D33;
	font-size: 30px;
	padding-bottom:5px;
}
h3
{
	font-family: Bebas Neue,fantasy;
	color: #EE7D33;
	font-size: 18px;
}
p
{
	font-family: Helvetica, Verdana, sans-serif;
	color:#EE7D33;
	font-size: 12px;
	background-color: #F5F5F5;
	padding:7px;
}
blockquote
{
	font-family: Helvetica,Verdana, sans-serif;
	color:#65727B;
	font-size: 12px;
	background-color: #F5F5F5;
	padding:7px;
	margin: 10px;


}
ul
{
	font-family: Helvetica,Verdana, sans-serif;
	color:#65727B;
	font-size: 12px;
	background-color: #F5F5F5;
	padding:7px;
	margin: 10px;

}
ol
{
	font-family: Helvetica,Verdana, sans-serif;
	color:#65727B;
	font-size: 12px;
	background-color: #F5F5F5;
	padding:7px;
	margin: 10px;
}